<h1 style="color: green">Hello, world!</h1>
  <h2>This is David\'s web server:</h3>
  <br/>
  <h3>IPADDRESS: <%= node['ipaddress'] %></h3>
  <h3>HOSTNAME:  <%= node['hostname'] %></h3>
  <h3>PUBLIC IP:  <%= node['cloud']['public_ipv4'] %></h3>
  <h3>PUBLIC HOSTNAME:  <%= node['cloud']['public_hostname'] %></h3>
