<h1 style="color: green">Hello, world!</h1>
  <h2>This is David\'s web server:</h3>
  <br/>
  <h3>IPADDRESS: <i><%= node['ipaddress'] %></i></h3>
  <h3>HOSTNAME: <i><%= node['hostname'] %></i></h3>
  <h3>PUBLIC IP: <i><%= node['cloud']['public_ipv4'] %></i></h3>
  <h3>PUBLIC HOSTNAME: <i><%= node['cloud']['public_hostname'] %></i></h3>
